@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }

h1 {
    font-family: "SEGA LOGO FONT", Arial, Helvetica, sans-serif;
    color: rgb(255, 251, 0);
    fill: yellow;
    text-shadow: 3px 3px red;
}