input {
    border: 1px solid yellow;
    border-radius: 3px;
    color: yellow;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: yellow;
    opacity: 1; /* Firefox */
  }
  input:focus {
    outline: none;
    border:1px solid red;
    box-shadow: 2px 2px 15px #ffd900;
  }
  input:hover {
    border:1px solid red;
  }